{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="container">
		<header>
			<h1 class="site-title">Blog Football</h1>
			<p class="site-description">Explorez et partagez vos avis sur les matchs de football.</p>
		</header>
		<main>
			<img src="/images/home_image.jpg" alt="Football" class="main-image">
		</main>
	</div>
{% endblock %}
