{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<article class="container">
		<div class="header-accueil">
			<h1 class="site-title">Blog Football</h1>
			<p class="site-description">Explorez et partagez vos avis sur les matchs de football.</p>
		</div>
		<main>
			<img src="/images/home_image.jpg" alt="Football" class="main-image">
		</main>
	</article>
{% endblock %}
