<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		{% include "_partials/navbar.html.twig" %}
		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté(e) en tant que
				{{ app.user.userIdentifier }},
				{# <a href="{{ path('app_logout') }}">Me déconnecter</a> #}
			</div>
		{% endif %}

		{% block body %}{% endblock %}
	</body>
</html>
